<div class="col-md-3">
    <div class="contact-box center-version">
        <a href="#profile.html">
            <img alt="image" class="img-circle" src="http://bootdey.com/img/Content/avatar/avatar1.png">
            <h3 class="m-b-xs">
                <strong><%= contact.full_name %></strong>
            </h3>
            <div class="font-bold">Graphics designer</div>
            <address class="m-t-md">
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
            </address>
            <p>
                <a class="btn btn-xs btn-white" href="<%= contact.email_address %>">
                    <i class="fa fa-envelope"></i>
                    <%= contact.email_address %></a>

            </p>
            <p>
                <a class="btn btn-xs btn-white">
                    <i class="fa fa-phone"></i>
                    <%= contact.phone_number %>
                    Ext:
                    <%= contact.extension %>
                </a>
                <a class="btn btn-xs btn-white">
                    <i class="fa fa-mobile"></i>
                    <%= contact.mobile_phone_number %>
                </a>

            </p>
        </a>
    </div>
</div>
