<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @customer.fax_number %>
</p>


<p>
 <strong>Contacts:</strong>
 <% @customer.contacts.each do |contact| %>

  <%= render 'contact', contact: contact %>
  
 <% end %>
</p>

<p>
  <strong>Addresses</strong>
  <% @customer.shipping_addresses.each do |adr| %>
    <p>
      <%= adr.address_alias%>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
