<p id="notice"><%= notice %></p>

<h1>Shipping Addresses</h1>

<table class="highlight centered bordered">
  <thead>
    <tr class="cyan lighten-3">
      <th>Address alias</th>
      <th>Address type</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Address city</th>
      <th>Address country</th>
      <th>Address state</th>
      <th>Address zip</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td><%= shipping_address.address_alias %></td>
        <td><%= shipping_address.address_type %></td>
        <td><%= shipping_address.address_1 %></td>
        <td><%= shipping_address.address_2 %></td>
        <td><%= shipping_address.address_city %></td>
        <td><%= shipping_address.address_country %></td>
        <td><%= shipping_address.address_state %></td>
        <td><%= shipping_address.address_zip %></td>
        <td><%= shipping_address.customer.name %></td>
        <td><%= link_to 'Show', shipping_address %></td>
        <td><%= link_to 'Edit', edit_shipping_address_path(shipping_address) %></td>
        <td><%= link_to 'Destroy', shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Address', new_shipping_address_path %>
