<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th colspan="3">H x W x L</th>
      <th>Shipping weight lbs</th>
      <th>Shipping weight kgs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.manufacturer %></td>
        <td><%= item.model %> x</td>
        <td><%= item.height %> x</td>
        <td><%= item.width %></td>
        <td><%= item.length %></td>
        <td><%= item.shipping_weight_lbs %></td>
        <td><%= item.shipping_weight_kgs %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
