<p id="notice"><%= notice %></p>


<div class="page-header">
  <h1><%= @sales_order.number %> <small><%= @sales_order.customer.name %></small></h1>
</div>


<br>

<p>
  <strong>Date:</strong>
  <%= @sales_order.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sales_order.customer.name %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @sales_order.shipping_address %>
</p>


<h1>Products</h1>
<strong>name --------------- serial number --------------- note</strong>
<p>
  <% @purchased_items.each do |pi| %>
    <p>
    <%= pi.item.name %> --- <%= pi.serial_number %>
    </p>
  <% end %>
</p>


<%= link_to 'Edit', edit_sales_order_path(@sales_order) %> |
<%= link_to 'Back', sales_orders_path %>
