<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sales_order.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sales_order.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sales_order.customer %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @sales_order.shipping_address %>
</p>

<%= link_to 'Edit', edit_sales_order_path(@sales_order) %> |
<%= link_to 'Back', sales_orders_path %>
