<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#" class="brand-logo">Jarvis</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="<%= customers_path %>">Customers</a></li>
      <li><a href="<%= contacts_path %>">Contacts</a></li>
      <li><a href="<%= shipping_addresses_path %>">Shipping Addresses</a></li>
      <li><a href="<%= sales_orders_path %>">Sales Orders</a></li>
      <li><a href="<%= items_path %>">Items</a></li>
      <li><a href="<%= purchased_items_path %>">Purchased Items</a></li>
    </ul>
  </div>
</nav>
